<% provide(:title, 'All Staffs') %>

<div class="container">
<h1>All Staffs</h1>
  <div class="row">
    <div class="col-md-12 well">
    <%= will_paginate %>
      <table class="table">
        <tr>
          <td class="no-repeat-header">ID</td>
          <td class="no-repeat-header">Name</td>
          <td class="no-repeat-header">TP Number</td>
          <td class="no-repeat-header">Email</td>
        </tr>
        <% @staffs.each do |s| %>
        <tr>
          <td><%= s.id %></td>
          <td><%= s.name %></td>
          <td><%= s.staff_number %></td>
          <td><%= s.email %></td>

        </tr>
        <% end %>
      </table>
      <%= will_paginate %>

    <div class="center">
      <%= link_to "Back", root_path, class: "btn btn-primary" %>
    </div>
  </div>
  </div>
</div>
