<% provide(:title, @staff.name) %>

<div class="container">
<h1>Account Information:</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
			<h4>
			<table class="table noborder">
        <tr>
          <td class="center" colspan="2">
            <% if @staff.picture.blank? %>
              <%= image_tag("default_profile_picture.png", width: '100') %>
            <% else %>
              <%= image_tag(@staff.picture_url(:standard)) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="no-repeat-header"><b>Name:</b></td>
          <td><%= @staff.name %></td>
				</tr>
				<tr>
          <td><b>Staff Number:</b></td>
					<td><%= @staff.staff_number %></td>
				</tr>
				<tr>
          <td><b>Email:</b></td>
					<td><%= @staff.email %></td>
        </tr>
        <tr>
          <td><b>Contact Number:</b></td>
					<td><%= @staff.contact_number %></td>
        </tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
			</h4>
			<section class="center">
				<%= link_to "Edit", edit_staff_path(current_user), class: "btn btn-primary" %>  &nbsp;
				<%= link_to "Back", dashboard_path, class: "btn btn-default" %>
			</section>
		</div>
	</div>
</div>
