<% provide(:title, 'Login') %>

<div class="container">
<h1>Log In</h1>
  <div class="row">
      <div class="col-md-6 col-md-offset-3 well">
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>

          <!-- <%= label_tag "User Type" %>
          <%= select_tag :type, options_for_select(["Student","Staff"]), :include_blank => true, class: 'form-control'%> -->

          <%= f.submit "Log In", class: "btn btn-primary" %>
        <% end %>
        <br>
        <b>New Student? <%= link_to "Sign Up", student_registration_path %></b>
      </div>
    </div>
</div>
