<% provide(:title, 'Login') %>

<script>
  getGeoLocation();
</script>

<script type="text/javascript">
$(document).ready(function() {
  $('input:checkbox').bootstrapSwitch();
});
</script>

<div class="container">
<h1>Log In</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <!-- <%= link_to "Forgot Password?", new_password_reset_path, class: "btn btn-xs btn-warning" %> -->
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me, :data => { 'on-text'=>'Yes', 'off-text'=>'No' } %>
          <span>Remember me on this computer</span>
        <% end %>
        <br><br>
        <%= f.submit "Log In", class: "btn btn-primary" %>
      <% end %>
      <hr>
      <!-- <b>New Student? <%= link_to "Sign Up Here", student_registration_path, class: "btn btn-xs btn-success" %></b> -->
      <b>Forgot Password? <%= link_to "Reset Here", new_password_reset_path, class: "btn btn-xs btn-warning" %></b>
    </div>
  </div>
</div>
