<% provide(:title, 'TFA') %>

<div class="container">
  <h1>Two-factor Authentication</h1>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 well">
      <div class="col-md-8">
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 center">
          <p><b>Scan QR-Code below with Google Authenticator or Authy to receive your OTP Code.
            <br>
            <a href="#" data-toggle="tooltip" title="Google Authenticator and Authy Apps is available on Apple App Store and Google Play Store.">
              <i class="fa fa-question-circle fa-2x"></i>
            </a>
          </b></p>

          <%= image_tag @qr %>

          <p><b>OR<b></p>

          <form action="/tfa" accept-charset="UTF-8" method="post">
            <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <%= hidden_field_tag :sms_otp, true %>
            <input type="submit" name="commit" value="Receive OTP via SMS" class="btn btn-success">
          </form>
        </div>
      </div>

      <div class="col-md-4">
        <br><br>
        <form action="/tfa" accept-charset="UTF-8" method="post">
          <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <%= label_tag :otp_code, "Enter OTP Code:" %>
          <%= password_field_tag :otp_code, nil, { class: 'form-control'} %>

          <input type="submit" name="commit" value="Validate" class="btn btn-primary">
        </form>
        <br>
        <%= link_to "Cancel", login_path, class: 'form-control center' %>
      </div>
    </div>
  </div>
</div>
