<% provide(:title, 'All Programmes') %>

<div class="container">
<h1>All Programmes</h1>
  <div class="row">
    <div class="col-md-12 well">
    <%= will_paginate %>
      <table class="table table-striped tablesaw tabler-tablesaw-stack" data-tablesaw-mode="stack">
        <thead>
          <tr>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">ID</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Programme Name</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Type</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Year</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Semester</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7"></th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7"></th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8"></th>
          </tr>
        </thead>
        <tbody>
          <% @programmes.each do |p| %>
          <tr>
            <td><%= p.id %></td>
            <td><%= p.name %></td>
            <td><%= p.programme_type%></td>
            <td><%= p.year %></td>
            <td><%= p.semester %></td>
            <td><%= link_to "View", p %></td>
            <td><%= link_to "Edit", edit_programme_path(p) %></td>
            <td>
              <%= link_to "Delete", p, method: :delete,
                          data: { confirm: "Confirm to remove this programme?" } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <%= will_paginate %>

    <div class="center">
      <%= link_to "Add", programme_registration_path , class: "btn btn-primary" %> &nbsp;
      <%= link_to "Back", dashboard_path , class: "btn btn-default" %>
    </div>
  </div>
  </div>
</div>
