<% provide(:title, 'Programme Registration') %>

<div class="container">
<h1>Add New Programme</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <%= form_for(@programme) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name, "Programme Name" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :programme_type %>
        <%= f.select(:programme_type, [['Foundation Programme'], ['Diploma Programme'],['Undergraduate Studies']],
                    { include_blank: true,},
                    { class: 'form-control'}) %>

        <%= f.label :year, "Duration (Number of Years)" %>
        <%= f.text_field :year, :maxlength => 1, class: 'form-control' %>

        <%= f.label :semester, "Duration (Number of Semesters)" %>
        <%= f.text_field :semester, :maxlength => 1, class: 'form-control' %>

        <%= f.label :description %>
        <%= f.text_area :description, :size => "30x5", class: 'form-control' %>

        <%= f.submit "Add", class: "btn btn-primary" %>

        <section class="center">
        <br>
        <%= link_to "Back", dashboard_path, class: "btn btn-default form-control" %>
        </section>

      <% end %>
    </div>
  </div>
</div>
