<% provide(:title, @programme.name) %>

<div class="container">
<h1>Programme Information:</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
			<h4>
			<table class="table noborder">
        <tr>
          <td class="no-repeat-header"><b>Programme Name:</b></td>
          <td><%= @programme.name %></td>
				</tr>
				<tr>
          <td><b>Programme Type:</b></td>
					<td><%= @programme.programme_type %></td>
				</tr>
        <tr>
          <td><b>Programme Duration:</b></td>
					<td><%= @programme.year %> Year(s) <br>
          <%= @programme.semester %> Semester(s)</td>
				</tr>
				<tr>
          <td><b>Description:</b></td>
					<td><%= @programme.description %></td>
        </tr>
        <tr>
          <td><b>Intakes:</b></td>
					<td><% @intakes.each do |i| %>
            <%= link_to i.intake_code, i %><br>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><b>Utility Fee(s):</b></td>
					<td>
          </td>
        </tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
			</h4>
				<section class="center">
        <%= link_to "Add Intake", new_programme_intake_path(@programme), class: "btn btn-primary" %> &nbsp;
        <%= link_to "Add Utility Fees", '#', class: "btn btn-primary" %> &nbsp;
				<%= link_to "Edit", edit_programme_path(@programme), class: "btn btn-primary" %>  &nbsp;
				<%= link_to "Back", programmes_path, class: "btn btn-default" %>
			</section>
		</div>
	</div>
</div>
