<% provide(:title, @programme.name) %>

<div class="container">
<h1>Programme Information:</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
			<h4>
			<table class="table noborder">
        <tr>
          <td class="no-repeat-header"><b>Programme Name:</b></td>
          <td><%= @programme.name %></td>
				</tr>
				<tr>
          <td><b>Programme Type:</b></td>
					<td><%= @programme.programme_type %></td>
				</tr>
				<tr>
          <td><b>Description:</b></td>
					<td><%= @programme.description %></td>
        </tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
			</h4>
				<section class="center">
				<%= link_to "Edit", edit_programme_path(@programme), class: "btn btn-primary" %>  &nbsp;
				<%= link_to "Back", dashboard_path, class: "btn btn-primary" %>
			</section>
		</div>
	</div>
</div>
