<% provide(:title, 'Dashboard') %>

<div class="panel panel-default">
  <div class="panel-heading panel-heading-text">Dashboard</div>
  <div class="panel-body panel-body-prop">

    <% if @current_user.type == "Student" %>
      <div class="row">
        <div class="container well">
          <table class="table">
            <% if @student_fees.blank? %>
              <tr class="center">
                <td colspan="9"><br>There are no unpaid fees. </td>
              </tr>
            <% else %>
              <h4 class="center">Recent Fee Statements</h4>
              <table class="table table-striped tablesaw tabler-tablesaw-stack" data-tablesaw-mode="stack">
                <thead>
                  <tr>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">Name</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Description</th>
                    <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Due Date</th>
                  </tr>
                </thead>
                <tbody>
                  <% @student_fees.first(3).each do |sf| %>
                    <tr>
                      <td><%= link_to sf.name, sf %></td>
                      <td><%= sf.description %></td>
                      <td><%= sf.due_date.strftime('%d/%m/%Y') %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </table>
        </div>
      </div>
    <% elsif @current_user.type == "Staff" %>
      <p class="center"><b>Enter Student ID for payment settlement:</b></p>
      <div class="row center">
        <%= form_tag(student_fees_path, :method => "get", class: "center") do %>
          <div class="col-md-7 col-md-offset-2">
            <%= text_field_tag :search, params[:search.upcase], placeholder: "Search", class: "form-control" %>
          </div>
          <div class="col-md-2">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search">
                <b>Search</b>
              </span>
            </button>
          </div>
        <% end %>
      </div>

    <% end %>

    <hr>

    <% if @current_user.type == "Student" %>
      <p><b>Fee Management</b></p>
      <div class="row center">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= student_fees_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-dollar fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">Fees Statements</div>
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= history_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-history fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">Payment History</div>
            </div>
          </a>
        </div>
      </div>
      <hr>
    <% end %>

    <% if @current_user.type == "Staff" %>
      <p><b>Staff, Student and Fees Definition</b></p>
      <div class="row center">
        <% if @current_user.admin? %> <!-- Authenticate User Access Level -->
          <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="<%= staff_registration_path %>">
              <div class="card">
                <div class="header">
                  <span class="fa fa-plus fa-3x" aria-hidden="true"></span>
                </div>
                <div class="content">Add Staff</div>
              </div>
            </a>
          </div>
        <% end %>

        <% if @current_user.admin? %>
          <div class="col-xs-6 col-sm-4 col-md-3">
            <a href="<%= staffs_path %>">
              <div class="card">
                <div class="header">
                  <span class="fa fa-user fa-3x" aria-hidden="true"></span>
                </div>
                <div class="content">View Staffs</div>
              </div>
            </a>
          </div>
        <% end %>

        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= programme_registration_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-plus fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">Add Programme</div>
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= programmes_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-book fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">View Programmes</div>
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= utility_fee_registration_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-plus fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">Add Utility Fees</div>
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= utility_fees_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-wrench fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">View Utility Fees</div>
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= intakes_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-calendar fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">View Intakes</div>
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= students_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-graduation-cap fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">View Students</div>
            </div>
          </a>
        </div>
      </div>
      <hr>
    <% end %>



    <% if @current_user.type == "Staff" %>
      <p><b>Report and Statistic</b></p>
      <div class="row center">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="#">
            <div class="card">
              <div class="header">
                <span class="fa fa-file-pdf-o fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">Report</div>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <a href="<%= statistics_path %>">
            <div class="card">
              <div class="header">
                <span class="fa fa-bar-chart fa-3x" aria-hidden="true"></span>
              </div>
              <div class="content">Statistic</div>
            </div>
          </a>
        </div>
      </div>
      <hr>
    <% end %>

    <p><b>Profile Management</b></p>
    <div class="row center">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <a href="<%= @current_user.type == "Student" ? student_path(@current_user) : staff_path(@current_user) %>">
          <div class="card">
            <div class="header">
              <span class="fa fa-cog fa-3x" aria-hidden="true"></span>
            </div>
            <div class="content">View Profile</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
