<% provide(:title, 'Dashboard') %>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- Sidebar -->
      <h3 class="margin-bottom-1">Good Day, <%= current_user.name %></h3>
      <br>
      <%= link_to "View Profile", current_user %>
      <br>
      <hr>

      <nav class="pills margin-left-1 margin-right-1 text-small">
        <%= link_to "View Payment", '#' %>
        <%= link_to "Payment History", '#' %>
        <%= link_to "Make Payment", '#' %>
      </nav>
    </div>
    <div class="col-md-8">
      <!-- Dashboard Panel -->
      <h1>Dashboard</h1>
      <hr>

    </div>
  </div>
</div>

<div id="main">
  <div>
    <div id="wrapper-main" class="">
      <div>
        <div id="sidebar" class="grey">
          <div class="padding-1 padding-top-2 collapse-margin-bottom-1">

            <div class="text-center padding-top-1">
              <h3 class="margin-bottom-1">Good Day, Mac Shu</h3>
              <br>
              <%= link_to "View Profile", '#' %>
              <br>
            </div>
              <hr>
          </div>

          <h4 class="margin-left-2 margin-right-2 lighten">Menu</h4><br>


        </div>

        <div id="wrapper-right" class="darken">
          <div id="center-right">
            <div class="wrap padding-left-4">
              <div>
                <div class="wrap margin-bottom-2 margin-top-4">
                  <div class="float-left">
                    <h1>Dashboard</h1>
                  </div>
                  <div class="float-right margin-right-1">
                    <div class="icon-wrap-right float-right">
                      <input style="transition:width .02s ease;width:172px;" class="transparent" placeholder="Search Fees">
                      <span class="glyphicon glyphicon-search"></span></input>
                  </div>
                </div>
                </div>
                <div class="row float-left">
                  <!-- Content Insert here -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
