<div class="container-fluid">

  <div class="col-md-12 panel main_header center", style="background-image: url('<%= asset_path("background_#{rand(5)}.png") %>')">


    <!-- Page Title -->
    <p>&nbsp;</p>
    <h1>OHMYFEES</h1>
    <p>Fee management at your finger tips</p>
    <hr>
    <br>
    <!-- Secure Section -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-body my-inner section-sizing prop">
          <br><br>
          <%= image_tag("secure.png", :size => "100x100", :alt => "Secure")%>
          <br><br>
          <p>Secured Payment Gateway</p>
        </div>
      </div>

      <!-- Time Section -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="my-inner panel panel-body section-sizing dashboard-panel prop">
          <br><br>
          <%= image_tag("time.png", :size => "100x100", :alt => "Quick and Easy")%>
          <br><br>
          <p>Quick and Easy</p>
        </div>
      </div>

      <!-- Location Section -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="my-inner panel panel-body section-sizing dashboard-panel prop">
          <br><br>
          <%= image_tag("location.png", :size => "100x100")%>
          <br><br>
          <p>Anytime, Anywhere</p>
        </div>
      </div>

      <!-- Notification Section -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="my-inner panel panel-body section-sizing dashboard-panel prop">
          <br><br>
          <%= image_tag("notification.png", :size => "100x100")%>
          <br><br>
          <p>Get Notified</p>
        </div>
      </div>

    </div>
  </div>
</div>
