<h1>Student Profile</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <section class="center">
          <% if @student.picture.blank? %>
            <%= image_tag("default_profile_picture.png", width: '100', :class => "img-circle") %>
          <% else %>
            <%= image_tag(@student.picture_url(:standard)) %>
          <% end %>
      </section>
      <br>
      <%= form_for(@student, html: { multipart: true }) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :picture, "Update Profile Picture:" %>
        <%= f.hidden_field :picture_cache %>
        <%= f.file_field :picture, class: 'form-control' %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :student_number %>
        <%= f.text_field :student_number, class: 'form-control' %>

        <%= f.label :intake %>
        <%= f.text_field :intake, class: 'form-control' %>

        <%= f.label :international, "International Student?" %>
        <br>
        <%= f.check_box :international,
                        :data => { 'on-text'=>'YES', 'off-text'=>'NO' } %>
        <br><br>

        <%= f.label :contact_number %>
        <%= f.phone_field :contact_number, :maxlength => "11", class: 'form-control' %>

        <%= f.label :tfa, "Two-Factor Authentication"%>
        <br>
        <%= f.check_box :tfa %>
        <br><br>

        <%= f.label :email, "Email"%>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.submit "Update", class: "btn btn-primary" %>

        <section class="center">
        <br>
        <%= link_to "Back", dashboard_path, class: "btn btn-default form-control" %>
        </section>

      <% end %>
    </div>
  </div>
