<% provide(:title, "Student Registration") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for (@student) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class 'form-control' %>

      <%= f.label :student_number %>
      <%= f.text_field :student_number, class 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class 'form-control' %>

      <%= f.submit "Create Account", class 'btn btn-primary' %>

    <% end %>
  </div>
</div>
