<% provide(:title, 'Student Registration') %>

<div class="container">
<h1>Student Sign Up</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <%= form_for(@student) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :student_number %>
        <%= f.text_field :student_number, class: 'form-control' %>

        <%= f.label :intake %>
        <%= f.collection_select :intake, Intake.all, :id, :intake_code,
                              { include_blank: true},
                              { class: 'form-control'} %>
        <!-- <%= f.text_field :intake, class: 'form-control' %> -->

        <%= f.label :international, "International Student?" %>
        <%= f.select(:international, [['True',true], ['False',false]],
                    { include_blank: true},
                    { class: 'form-control'}) %>

        <%= f.label :contact_number %>
        <%= f.phone_field :contact_number, :maxlength => "11", class: 'form-control' %>

        <%= f.label :email, "Email (@mail.apu.edu.my)"%>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Create Account", class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>
