<% provide(:title, @student.name) %>

<div class="container">
<h1>Account Information:</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
			<h4>
			<table class="table noborder">
        <tr>
          <td class="no-repeat-header"><b>Name:</b></td>
          <td><%= @student.name %></td>
				</tr>
				<tr>
          <td><b>TP Number:</b></td>
					<td><%= @student.student_number %></td>
				</tr>
				<tr>
          <td><b>Email:</b></td>
					<td><%= @student.email %></td>
        </tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
			</h4>
				<section class="center">
				<%= link_to "Edit", '#', class: "btn btn-primary" %>  &nbsp;
				<%= link_to "Back", root_path, class: "btn btn-primary" %>
			</section>
		</div>
	</div>
</div>
