<% provide(:title, @student.name) %>

<div class="container">
<h1>Account Information:</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
			<h5>
      <section class="center">
        <% if @student.picture.blank? %>
          <%= image_tag("default_profile_picture.png", width: '120', :class => "img-circle") %>
          <br><br>
          <%= link_to "Update your profile picture", edit_student_path(current_user), class: "btn btn-xs btn-warning" %><br>
        <% else %>
          <%= image_tag(@student.picture_url(:standard)) %>
        <% end %>
      </section>
        <br>
			<table class="table noborder">
        <tr>
          <td class="no-repeat-header"><b>Name:</b></td>
          <td><%= @student.name %></td>
				</tr>
				<tr>
          <td><b>TP Number:</b></td>
					<td><%= @student.student_number %></td>
				</tr>
        <tr>
          <td><b>Intake:</b></td>
					<td><%= @student.intake %></td>
        </tr>
        <tr>
          <td><b>International Student:</b></td>
					<td><% if @student.international == true %>
              Yes
              <% else %>
              No
              <% end %>
          </td>
        </tr>
				<tr>
          <td><b>Email:</b></td>
					<td><%= @student.email %></td>
        </tr>
        <tr>
          <td><b>Contact Number:</b></td>
					<td><%= @student.contact_number %></td>
        </tr>
        <tr>
					<td><b>Two-factor Authentication:</b></td>
					<td><% if @student.tfa == true %>
              On
              <% else %>
              Off
              <% end %>
          </td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
      </h5>
				<section class="center">
        <% if current_user.type == "Student" %>
          <%= link_to "Edit", edit_student_path(current_user), class: "btn btn-primary" %>  &nbsp;
        <% elsif current_user.type == "Staff" %>
          <%= link_to "Edit", edit_student_path, class: "btn btn-primary" %> &nbsp;
        <% end %>
				<%= link_to "Back", dashboard_path, class: "btn btn-default" %>
			</section>
		</div>
	</div>
</div>
