<% provide(:title, 'All Fees') %>

<div class="container">
<h1>All Fees</h1>
  <div class="row">
    <div class="col-md-12 well">
    <%= will_paginate %>
      <table class="table">
        <tr>
          <td class="no-repeat-header"><b>ID</td>
          <td class="no-repeat-header"><b>Name</td>
          <td class="no-repeat-header"><b>Description</td>
          <td class="no-repeat-header"><b>Amount</td>
          <td class="no-repeat-header"><b>Due Date</td>
          <td class="no-repeat-header"><b>Outstanding</td>
          <td class="no-repeat-header"><b>Fine</td>
          <td class="no-repeat-header"><b>Action</td>
          <td class="no-repeat-header"><b>Action</td>
          <!-- <td class="no-repeat-header"><b>Action</td> -->
        </tr>
        <% if @student_fees.blank? %>
          <tr class="center">
            <td colspan="9"><br>There are no unpaid fees. </td>
          </tr>
        <% else %>
          <% @student_fees.each do |sf| %>
            <tr>
              <td>SF#<%= sf.id %></td>
              <td><%= sf.name %></td>
              <td><%= sf.description %></td>
              <td>RM&nbsp;<%= number_with_precision(sf.amount, :precision => 2) %></td>
              <td><%= sf.due_date %></td>
              <td><% if sf.due_date < DateTime.now %>
                  <div class="outstanding">
                    RM&nbsp;<%= number_with_precision(sf.amount, :precision => 2) %>
                  </div>
                  <% else %>
                  -
                  <% end %>
              </td>
              <td> - </td>
              <td><%= link_to "View", sf %></td>
              <td><%= link_to "Pay", new_student_student_fee_payment_path(current_user,sf) %></td>
              <!-- <td><%= check_box_tag :name, value = "1", checked = false, options = { :disabled => true }%></td> -->
            </tr>
          <% end %>
        <% end %>
      </table>
      <%= will_paginate %>

    <div class="center">
      <%= link_to "Back", dashboard_path , class: "btn btn-default" %>
    </div>
  </div>
  </div>
</div>
