<% provide(:title, @student_fee.name) %>

<div class="container">
<h1>Fees Information:</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
			<h4>
			<table class="table noborder">
        <tr>
          <td><b>Name:</b></td>
          <td><%= @student_fee.name %></td>
				</tr>
				<tr>
          <td><b>Description:</b></td>
					<td><%= @student_fee.description %></td>
				</tr>
				<tr>
          <td><b>Amount:</b></td>
					<td>RM&nbsp;<%= number_with_precision(@student_fee.amount, :precision => 2) %></td>
        </tr>
        <tr>
          <td><b>Due Date:</b></td>
					<td><%= @student_fee.due_date %></td>
        </tr>
        <tr>
          <td><b>Outstanding:</b></td>
					<td><% if @student_fee.due_date < DateTime.now %>
              <div class="outstanding">
                RM&nbsp;<%= number_with_precision(@student_fee.amount, :precision => 2) %>
              </div>
              <% else %>
                  -
              <% end %>
          </td>
        </tr>
        <tr>
          <td><b>Fine:</b></td>
					<td>#</td>
        </tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
			</table>
			</h4>
				<section class="center">
          <% if @student_fee.paid == false %>
            <%= link_to "Pay", pay_student_student_fee_payments_path(current_user, @student_fee), :method => 'post', multipart: true, class: "btn btn-primary form-control" %>
            <br><br>
          <% end %>
				<%= link_to "Back", student_fees_path, class: "btn btn-default form-control" %>
			</section>
		</div>
	</div>
</div>
