<% provide(:title, 'Payment History') %>

<div class="container">
<h1>Payment History</h1>
  <div class="row">
    <div class="col-md-12 well">
      <table class="table table-striped tablesaw tabler-tablesaw-stack" data-tablesaw-mode="stack">
        <thead>
          <tr>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">ID</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Name</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Description</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Amount</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">Paid On</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @student_fee.each do |sf| %>
          <tr>
            <td><%= sf.id %></td>
            <td><%= sf.name %></td>
            <td><%= sf.description %></td>
            <td>RM&nbsp;<%= number_with_precision(sf.amount, :precision => 2) %></td>
            <td><%= Payment.find_by(student_fee_id: sf.id).created_at  %></td>
            <td><%= link_to "View", sf %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <div class="center">
      <%= link_to "Back", dashboard_path , class: "btn btn-default" %>
    </div>
  </div>
  </div>
</div>
