<% provide(:title, 'Fee Payment') %>

<div class="container">
  <h1>Fee Payment</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <h4>Fee Details</h4>
      <h5>
        <table class="table">
          <tr>
            <td><b>Name:</b></td>
            <td><%= @student_fee.name %></td>
          </tr>
          <tr>
            <td><b>Description:</b></td>
            <td><%= @student_fee.description %></td>
          </tr>
          <tr>
            <td><b>Amount (Included Fine):</b></td>
            <td>RM&nbsp;<%= @student_fee.amount %></td>
          </tr>
          <tr>
            <td><b>Due Date:</b></td>
            <td><%= @student_fee.due_date %></td>
          </tr>
        </table>
      </h5>
    </div>
  </div>

  <div class="row center">
    <div class="col-md-6 col-md-offset-3 well">
      <form action="/students/<%= current_user.id %>/student_fees/<%= @student_fee.id %>/payments" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="express_token" value="<%= @payment.express_token %>" id="express_token">
        <input type="hidden" name="student_fee_id" value="<%= @student_fee.id %>" id="student_fee_id" >
        <input type="hidden" name="express_payer_id" value="<%= @payment.express_payer_id %>" id="express_payer_id">
        <input type="submit" name="commit" value="Confirm" class="btn btn-primary">
      </form>
      <br>
      <%= link_to "Back", student_fees_path, class: "btn btn-default form-control" %>

    </div>
  </div>
</div>
