<% provide(:title, 'Paid Fees Details') %>

<div class="container">
<h1>Paid Fee Information:</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
			<h5>
			<table class="table noborder">
        <tr>
          <td><b>Name:</b></td>
          <td><%= @student_fee.name %></td>
				</tr>
				<tr>
          <td><b>Description:</b></td>
					<td><%= @student_fee.description %></td>
				</tr>
				<tr>
          <td><b>Amount (Included Fine):</b></td>
					<td>RM&nbsp;<%= number_with_precision(@payment.amount, :precision => 2) %></td>
        </tr>
        <tr>
          <td><b>Due Date:</b></td>
					<td><%= @student_fee.due_date %></td>
        </tr>
        <tr>
          <td><b>Payment Method:</b></td>
					<td><%= @payment.payment_method %></td>
        </tr>
        <% if @payment.payment_method == "Cheque" %>
          <tr>
            <td><b>Bank:</b></td>
  					<td><%= @payment.cheque_bank_name %></td>
          </tr>
          <tr>
            <td><b>Cheque ID:</b></td>
  					<td><%= @payment.cheque_id %></td>
          </tr>
        <% end %>
        <% if @payment.payment_method == "Bank Transfer" %>
          <tr>
            <td><b>Bank:</b></td>
  					<td><%= @payment.transfer_bank_name %></td>
          </tr>
          <tr>
            <td><b>Reference ID:</b></td>
  					<td><%= @payment.bank_transfer_id %></td>
          </tr>
        <% end %>
        <tr>
					<td></td>
					<td></td>
				</tr>
			</table>
    </h5>
			<section class="center">
				<%= link_to "Back", history_path, class: "btn btn-default form-control" %>
			</section>
		</div>
	</div>
</div>
