<% provide(:title, 'Add Location') %>

<div class="container">
<h1>Edit Sign-in Location</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
      <%= form_for(@location) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :latitude %>
        <%= f.number_field :latitude, :class => 'form-control', :step => 'any' %>

        <%= f.label :longitude %>
        <%= f.number_field :longitude, :class => 'form-control', :step => 'any' %>

        <%= f.submit "Update", class: "btn btn-primary" %>

        <br><br>

        <%= link_to "Back", @location, class: "btn btn-default form-control" %>
      <% end %>
    </div>
  </div>
</div>
s
