<% provide(:title, 'All Intakes') %>

<div class="container">
<h1>All Intakes</h1>
  <div class="row">
    <div class="col-md-12 well">
    <%= will_paginate %>
      <table class="table table-hover tablesaw tabler-tablesaw-stack" data-tablesaw-mode="stack">
        <thead>
          <tr>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">ID</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="3">Intake Code</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">Starting Date</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1">Local Student Fee</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">International Student Fee</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="7">Action</th>
            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="8">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @intakes.each do |i| %>
          <tr>
            <td><%= i.id %></td>
            <td><%= i.intake_code %></td>
            <td><%= i.starting_date %></td>
            <td>RM&nbsp;<%= number_with_precision(i.local_student_fee, :precision => 2) %></td>
            <td>RM&nbsp;<%= number_with_precision(i.international_student_fee, :precision => 2) %></td>
            <td><%= link_to "View", i %>
            </td>
            <td>
              <%= link_to "Delete", i, method: :delete,
                          data: { confirm: "Confirm to remove this intake?" } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <%= will_paginate %>

    <div class="center">
      <%= link_to "Back", dashboard_path , class: "btn btn-default" %>
    </div>
  </div>
  </div>
</div>
