<header>
  <div class="padding-left-2 padding-right-2" id="header">
    <nav class="float-left flex-center-left horizontal">
      <%= link_to "OhMyFees", root_path, id: "logo" %>
    </nav>
    <nav class="float-right flex-center-right spaced-3x">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
        <li><%= link_to "Sign Up", registration_path %></li>
      </ul>
    </nav>
  </div>
</header>
